.signout {
  color: bisque;
  background-color: transparent;
  border-color: #6c757d;
  font-family: Verdana, 'Geneva', Tahoma, sans-serif;
  font-size: 16px;
  padding: 6px 12px;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.navbar{
    margin-bottom: 0;
    background-color: transparent;
    padding: 0;
  };

  .navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-lin {
    color: white
  }

  .navbar-light .navbar-nav .nav-link{
    color: white
  }